// Importing variables
@import './variables.scss';

// Importing Bulma from node_modules
@import '~bulma/bulma.sass';

.gradientBg {
	display: flex;
	background: linear-gradient(to right, $primary-color, $secondary-color);
}

.center {
	display: flex;
	justify-content: center;
	align-items: center;
}

.customImage {
	margin-top: 55px;
}

.customText {
	font-size: 60px;
}

.hero-container {
	background: url('../images/planet_crossfit_slide-scaled.jpg') center center/cover no-repeat;
	height: 85vh;
	width: 100%;
	display: flex;
	flex-direction: column;
	box-shadow: inset 0 0 0 1000px rgba(0, 0, 0, 0.4);
	object-fit: contain;
}

.hero-container>h1 {
	color: #ffffff;
	font-size: 90px;
	margin-left: 100px;
	margin-top: 100px;
}

.heroButton {
	margin-left: 100px;
}

.InfoHero {
	background: #101522;
	align-items: center;
	padding: 0px;
}

.primary {
	background: #101522;
}

.CustomMargin {
	width: 50%;
	margin: auto;
	list-style-type: square;
}

.SvgColor {
	margin: auto;
}

.MarginTop {
	margin-top: 70px;
}

.MarginBottom {
	margin-bottom: 70px;
}



.footerAddress {
	display: flex;
	flex-direction: column;
}

.FooterPolicy {
	display: flex;
	flex-direction: row;
}

.textLink {
	color: white;
}

.textLink:hover {
	color: #2980b9;
}

.ColRemPadd {
	padding-left: 0px;
}


.card {
	height: 100%;
}
.buttonCustom{
	margin-left: 70%;
	margin-bottom: 20px;
}

.linkText {
	color: #2980b9;
}

.linkText:hover {
	color: #52a7e0;
}

.footer {
	display: flex;
	padding: 1.5rem 1.5rem;
	line-height: 1.5rem;

	a {
		border-bottom: 1px solid;
		color: black;
	}

	a:hover {
		color: $secondary-color;
	}
}

.ELCross {
	margin-top: 20px;
	width: 95%;
}

.setWeidth {
	width: 95%;
}
.Iframe_Size{
	width: 100%;
	height: 450px;
}

@media only screen and (max-width: 992px) {
	.ELCross {
		font-size: 32px;
	}

}

@media only screen and (max-width: 820px) {
	.CustomMargin {
		width: 90%;
		margin: auto;
	}

}

@media only screen and (max-width: 600px) {
	.FooterPolicy {
		margin-left: 25px;
	}

	.hero-container>h1 {
		font-size: 55px;
		margin-left: 30px;
	}

	.hero-container {
		height: 65vh;
		align-items: center;
		box-shadow: inset 0 0 0 1000px rgba(0, 0, 0, 0.6);
	}

	.heroButton {
		margin-left: 0px;
	}

	.customText {
		font-size: 40px;
	}
	.buttonCustom{
		margin-left: 30%;
		margin-bottom: 20px;
	}
}