// Importing variables
@import './variables.scss';

// Importing Bulma from node_modules
@import '~bulma/bulma.sass';

.gradientBg {
	display: flex;
	background: linear-gradient(to right, $primary-color, $secondary-color);
}

.center {
	display: flex;
	justify-content: center;
	align-items: center;
}

.customImage{
	margin-top: 55px;
}

.footerAddress{
	display: flex;
	flex-direction: column;
}

.FooterPolicy{
	display: flex;
	flex-direction: row;
}

.textLink{
	color: white;
}
.textLink:hover{
	color: #2980b9;
}

.linkText{
	color: #2980b9;
}
.linkText:hover{
	color: #52a7e0;
}





.footer {
	display: flex;
	padding: 1.5rem 1.5rem;
	line-height: 1.5rem;
	a {
		border-bottom: 1px solid;
		color: black;
	}
	a:hover {
		color: $secondary-color;
	}
}

@media only screen and (max-width: 600px) {
	.FooterPolicy {
	  margin-left: 25px;
	}
  }